[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/rams/Desktop/DataGrip.desktop]
row=3
col=0

[/home/rams/Desktop/replay_pid55503.log]
row=5
col=0

[/home/rams/Desktop/RustRover.desktop]
row=4
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/rams]
row=2
col=0

